{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "galtest-debug",
      "type": "cppdbg",
      "request": "launch",
      "program": "${workspaceFolder}/Debug/galtest/galtest",
      "args": [
        "--gtest_filter=<test filter here>"
      ],
      "stopAtEntry": false,
      "cwd": "${workspaceFolder}",
      "environment": [],
      "externalConsole": false,
      "MIMode": "gdb",
      "setupCommands": [
        {
          "description": "Enable pretty-printing for gdb",
          "text": "-enable-pretty-printing",
          "ignoreFailures": true
        }
      ],
      "dap-compilation": "${workspaceFolder}/build.sh Debug galtest"
    },
    {
      "name": "galview-debug",
      "type": "cppdbg",
      "request": "launch",
      "program": "${workspaceFolder}/Debug/galview/galview",
      "args": [
        "demos/meshView.py"
      ],
      "stopAtEntry": false,
      "cwd": "${workspaceFolder}",
      "environment": [],
      "externalConsole": false,
      "MIMode": "gdb",
      "setupCommands": [
        {
          "description": "Enable pretty-printing for gdb",
          "text": "-enable-pretty-printing",
          "ignoreFailures": true
        }
      ],
      "dap-compilation": "${workspaceFolder}/build.sh Debug galview"
    },
    {
      "name": "script-debug",
      "type": "cppdbg",
      "request": "launch",
      "program": "/usr/bin/python3",
      "args": [
        "<path to script>"
      ],
      "stopAtEntry": false,
      "cwd": "${workspaceFolder}",
      "environment": [],
      "externalConsole": false,
      "MIMode": "gdb",
      "setupCommands": [
        {
          "description": "Enable pretty-printing for gdb",
          "text": "-enable-pretty-printing",
          "ignoreFailures": true
        }
      ],
      "dap-compilation": "${workspaceFolder}/build.sh Debug pygalfunc && pip3 install -e ${workspaceFolder}/Debug/galfunc"
    }
  ]
}
